/node_modules
/vendor

/public/js
/public/css
/public/hot
/public/storage
public/fonts

/storage/*.key

.idea
.env
.env.backup
.phpunit.result.cache

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/docker/mysql/data
